* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: rgb(141, 161, 99); 
    position: relative;
    overflow: hidden;
    
    
}

.mug {
    display: flex;
    position: absolute;
    height: 300px;
    width: 400px;
    margin-left: 37%;
    margin-top: 20%;
}

.circle {
    position: absolute;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    margin-left: 27.5%;
    margin-top: 11%;

    animation-name: drop;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes drop {
    0% {
        opacity: 0%;
    }

    3% {
        opacity: 100%;
        background: #8C6239;
        transform: scale(1);
        filter: drop-shadow(5px);
    }

    60% {
        background: #7f5933;
        transform: scale(.05);
        filter: drop-shadow(0);
        opacity: 100%;
    }

    67% {
        background: #8C6239;
        filter: blur(5px);
    }

    98% {
        background: #8C6239;
        transform: scale(.05);
        filter: drop-shadow(0);
        opacity: 100%;
        filter: blur(10px);
    }

    99% {
        opacity: 0;  
    }

    100% {
        opacity: 0;
    }

}



.wave1 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 45.8%;
    margin-top: 29.3%;
    border: #603813 5px solid;
    filter: blur(3px);
    opacity: 0;
    
    animation-name: wave;
    animation-duration: 6s;
    animation-delay: 4.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes wave {
    0% {
        opacity: 0;
    }

    5% {
        transform: scale(1);
        opacity: 80%;
        
    }

    20% {
        transform: scale(3.5);
        opacity: 80%;
    }

    21% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}